html {scroll-behavior: smooth;}

* { box-sizing: border-box; }

.carousel {
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.carousel-cell {
  margin-right: 10px;
  border-radius: 5px;
}

/* cell number */
.carousel-cell:before {
	display: block;
}

.flickity-viewport {
  transition: height 0.2s;
}
/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  background-color: #ffffff;
}




b {color:#FF9955;}

/* LINKS*/
.font-body a:link {
  color: #FF5533;
}

.font-body a:visited {
 color: #FF5533;
}

.font-body a:hover {
  //color: #FF8844;
  color: #FFFFFF;
}

.font-body a:active {
  color: hotpink;
} 

			

				table{
					border: 0px;
				}

				/*image {
					background-color: #101010;
					background: linear-gradient(to bottom right, #303030, #080808);
				}*/

				.nav-bar {
					position: fixed;
	                top: 0;
	                left: 0;
	                right: 0;
	                height: 100%;
	                padding: 10px 0px 0px 10px;
	                margin: 0px 10px 0px 20px;
				}

				.nav-title {
	                position: absolute;
	                top: 0;
	                left: 0;
	                right: 0;
	                font-family: 'Arial'; 
	                font-size: 20px;
	                color: #FFFFFF;
	                text-shadow: 2px 2px 6px #442200;
	                text-align: left;
	                padding: 10px;
	                font-weight: bold;
				}

				.nav-side {
					position: fixed;
	                top: 0;
	                left: 0;
	                right: 0;
	                height: 100%;
	                width: 4px;
				}

				.nav-bottom {
					position: fixed;
	                bottom: 0;
	                left: 0;
	                right: 0;
	                height: 0px;
				}

				.nav-bot-height {
					 height: 8px;
				}

				.bar-width {
					width: 180px;
					margin: 0px;
				}

				.bar-width2 {
					width: 180px;
					margin: 0px;
				}

				.side-line {
					vertical-align: top;
	            	width: 8px;
	            	height: 100%;
	            	min-height: 200px;
	            	padding: 0;
	            	border-spacing: 0;
	            	border: 0;
	            	background: linear-gradient(to bottom, #FF5533, #333333);
	            }

	            .side-line2 {
	            	vertical-align: top;
	            	width: 8px;
	            	height: 100%;
	            	min-height: 200px;
	            	padding: 0;
	            	border-spacing: 0;
	            	border: 0;
	            	background: linear-gradient(to bottom, #FF5533, #7A4028);
	            }



				.text-columns {
	            	// align-items: left;
	            	 column-width: 350px;
	            	// display: grid;
				    // grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
				    // grid-template-columns: 1fr;
				    grid-gap: 20px;
				    // box-sizing: border-box;
				    // height: 200px;
				    width: 100%;
				    padding: 10px;
		            }

		        ul
				{
					text-indent:50px;
				}



.photo
{
    width:100%;
    margin: 8px 0px 0px 0px;
}

.album-header
{
	background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
    max-width: 100%;
    height: 30vh;
    padding: 8px 20px 8px 20px;
}

.album-title
{
    font-family: 'Arial';
	//font-size: 2.6vw;
	font-size: 40px;
	color: #FFFFFF;
	text-shadow: 2px 3px #333333;
}
.album-subtitle
{
    font-family: 'Arial';
	font-size: 16px;
	color: #FFFFFF;
	text-shadow: 2px 3px #333333;
}

.gallery-text-frame
{
	position:absolute; 
	bottom:0px; 
	left:0px;
	box-sizing: border-box;
	background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.86));
	padding: 14px;
	padding-top: 18px;
}
.gallery-title
{
    font-family: 'Arial';
    font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	text-shadow: 2px 3px #333333; 
	width:100%;
}
.gallery-subtitle
{
    font-family: 'Arial';
	font-size: 16px;
	color: #FFFFFF;
	text-shadow: 2px 3px #333333;
	padding-left: 8px;
	width:100%;
	line-height: 16pt;
}




	            #clearfix::after {
				    content: "";
				    clear: both;
				    display: table;
				}






.gallery-link{
    font-family: 'Arial';
	font-size: 16px;
	color: #FFFFFF;
}



.image-title{
	font-family: 'Arial';
	font-size: 1.6vw;
	color: #FFFFFF;
	text-shadow: 2px 3px #000000;
}








/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #menuToggle {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  text-decoration: none;
  display: block;
}
.topnav a:hover {color:white;}
.topnav a:active {color:black;}
.topnav a:visited {color:white;}

/* Style the hamburger menu */
.topnav a.icon {
  display: inline-block;
  padding: 0.3vh;
  color: white;
}










/* BACKGROUND COLORS */
.color-accent {background-color: #FF5533;}
.color-heading {background-color: #2b2b2b;} /*#292929 #FF5010*/
.color-title {background-color: #363636;} /*#FF5010*/
.color-body-admin {background-color: #3399BB;}/*#3399BB*/
.color-body-error {background-color: #880000;}
.color-body-accent {background-color: #7A4028;}
.color-body {background-color: #282828;}/*#383838*/
.color-body-alt {background-color: #4A4A4A;}
.color-bg {background-color: #525252;} /*#282828 #222222 #181818*/

.color-button-affirm {background-color: #2299BB;}

.color-nav-bg {background-color: #FF5533;}/*background-color: #3A3A3A;*/
.color-nav-button {background-color: #FF7755;}/*#3A3A3A #EE4422*/
.color-nav-button:hover {background-color: #993006;}
.color-nav-button:active {background-color: white;}
.color-nav-button-sub {background-color: #FF7755;}
.color-nav-button-sub:hover {background-color: #993006;}
.color-nav-button-sub:active {background-color: white;}

.color-swipe-orange {background-image:linear-gradient(to right, #7A4028, rgba(0,0,0,0));}

/* TEXT COLORS */

/* FONTS */
.font-page-title {
	font-family: 'Arial Black'; 
    font-size: 24px;
    color: #FFFFFF;
    text-shadow: 3px 3px 3px #111111;
    text-align: left;;
    font-weight: bold;
}

.font-datacard-title {
	font-family: 'Arial'; 
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #111111;
    text-align: left;
    line-height: 2;
    font-weight: bold;
}

.font-datacard-title-extra {
	font-family: 'Arial'; 
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #111111;
    text-align: left;
    line-height: 0.9;
    font-weight: bold;
}

.font-body {
	font-family: Verdana, Geneva, sans-serif;
	text-shadow: 0px;
	font-size: 16px;
	color: #DDDDDD;
}

.font-quote {
	font-family: 'Georgia';
	text-shadow: 0px;
	font-style:italic;
	font-size: 22px;
}
.font-quote b {
	color: #FFFFFF;
	font-weight:900;
}

.font-button {
	color: #FFFFFF;
    text-shadow: 2px 2px 2px #111111;
	font-style:bold;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
}

/* SPECIAL SHAPES*/
.instagram-feed{
	width: 	100%;
	overflow:hidden;
}

.twitter-feed{
	width: 	100%;
	overflow:hidden;
}

/* OTHER SHAPES */
.mouseover-visible { opacity: 0; }
.mouseover-visible:hover { opacity: 0.8; }

.button-generic {
	text-align:center; 
	display:inline-block; 
	background-color: #2299BB;
}
.button-generic:hover {background-color: #55CCFF;}
.button-generic:active {background-color: #FF9966;}

.body-box{
	max-width:100%; 
	margin: 0px 8px 0px 8px;
}

.titlebar-mobile{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-button {
	max-width: 180px;
	padding: 6px 12px;
	border: 5px hidden #000000;
	margin: 2px 2px 2px 2px;

	font-family: 'Arial'; 
    color: #FFFFFF;
    text-shadow: 2px 2px 6px #442200;
    text-align: left;
    text-decoration: none;
}

.button-link { text-decoration: none; }

.nav-pull-button {
	width: 100%;
	padding: 10px;

	font-family: 'Arial'; 
    color: #FFFFFF;
    text-shadow: 2px 2px 6px #442200;
    text-align: left;
    text-decoration: none;
}

.gallery-columns {
	column-width: 256px;
	column-gap: 16px;
	align-items: center;
}

.album-box{
	margin: 14px 14px 14px 14px;
	max-width: 90%;
	//max-height: 256px;
	background-size: cover;
	background-repeat:no-repeat;
    background-position:center center;
    position: relative;
    display: inline-block;
	//min-width:256px; 
}

.album-banner{
	background-repeat:no-repeat;
    background-size: cover;
    background-position:center center;
}

.album-banner-content{
	background-color:rgba(0, 0, 0, 0.60); 
	height: 32vh; 
	padding: 10px 30px 10px 30px;
}

.list-box{
	width: 100%;
	display: inline-block;
	padding: 10px auto;
	margin: 10px auto;
}

.datacard-frame{
	/*border-radius: 0px;*/
	/*border-width: 1px;
	border-color: #ffffff;*/
	display: inline-block;
	margin: 8px 0px 8px 0px;
	max-width: 95vw;
}

.datacard-title {
	padding: 10px 10px 10px 10px;
}

.datacard-subtitle {
	padding: 2px 5px 4px 5px;
}

.datacard-head {
	font-family: 'Arial';
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 6px #442200;
	padding: 10px 17px 10px 17px;
}

.datacard-content {
	padding: 0px 16px 16px 16px;
	margin: 20px 20px 20px 20px;
	/*min-height: 40vh;*/
}
.datacard-content-top-only {
	padding: 0px 16px 0px 16px;
	margin: 20px 20px 0px 20px;
}
.datacard-content-bottom-only {
	padding: 0px 0px 16px 0px;
	margin: 0px 0px 20px 0px;
}

.datacard-content.no-min{min-height: 0px;}

.datacard-caption {
	padding: 16px;
	background-color: #404040;
	//margin: 16px 16px 16px 16px;
	box-shadow: 0px 2px 1px 0px #555555 inset;
	border-radius: 4px;
}

.columns {
	align-items: left;
	//column-width: 500px;
	column-width: 425px;
	// column-count: 2;
	// column-gap: 0px;
  	/*columns see desktop size*/
	// max-width: 1100px;
	// margin: 10px 10px 10px;
	column-gap: 16px;
	align-items: center;
}

.columns-thumb {
	    column-width: 300px;
	    column-gap: 8px;
	    border-spacing: 0px;
	}

.columns-showcase {
	    column-count:3;
	    column-gap: 8px;
	    border-spacing: 0px;
	}

.no-min {min-height: 0px;}

.shadow {box-shadow: 1px 1px 12px 2px #0d0d0d;}
.shadow-light {box-shadow: 2px 2px 16px 0px #0d0d0d;}

.grid-image {
	display:inline-block; 
	margin:3px 0px; 
	vertical-align:top; 
	background-size: cover; 
	background-repeat:no-repeat; 
	background-position:center; 
}
.grid-image-dimensions {
	width:300px; 
	height:300px; 
}

@media all and (orientation:landscape) {
	.only-desktop {display:inline-block;}
	.only-mobile {display:none;}

	.title{font-size: 9vw;}

	.section_header{font-size: 2vw;}
	.columns{
		width: 80%;
		padding: 0% 10% 0% 10%;
		}
	.section_detail{font-size: 20px;}
}	
@media all and (orientation:portrait) {
	.only-desktop {display:none;}
	.only-mobile {display:block;}

	.title{font-size: 16vw;}

	.section_header{font-size: 8vw;}
	.photo {margin: 6px 0px 0px 0px;}
	.columns-thumb{
		//column-count: 2;
		column-width: 140px;
		column-gap: 6px;
	}
	.columns-showcase{
		column-count: 1;
		column-gap: 6px;
	}
	.section_detail{font-size: 10px;}

	.album-box{margin: 6px 6px 6px 6px;}
	.album-title{font-size: 6.5vw;}
	.album-subtitle{font-size: 2vw;}
	.banner-size{max-height: 25vh;}

	.datacard-content{
		padding: 0px 6px 6px 6px;
		margin: 0px 0px 0px 0px;
	}

	.body-box{margin: 0.2vh 0vw 0.8vh 0vw;}/*margin: 0.2vh 0vw 0.8vh 0vw;*/
}


/* getting ready to remove these*/
.datacard-image {
	float: left;
	width: 100%;
	/*max-width: 450px;*/
	min-height: 200px;
	/* max-height: 400px;*/
	/*margin-right:15px;*/
	/*margin-bottom:10px;*/
	border: 0px solid #111111;
}	

.datacard {
					// max-width: 900px;
					display: inline-block;
					break-inside: avoid;
					// resize: vertical;
    				// overflow: hidden;
    				margin: 0px 6px 30px 6px;
				}

				.datacard-leading {
					padding: 8px;
				}


	            .datacard-body {
						padding: 16px;
					}